<footer>
    <ul class="footer-icons">
        <li><a href="https://github.com/Ssebi1" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/dancau-sebastian/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://www.facebook.com/sebastian.dancau.9/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    </ul>
    <p>Dancau Sebastian</p>
    <p>sebidancau@yahoo.com</p>
    <a href="https://www.dancau-sebastian.com/" target="_blank" style="text-decoration:underline;"><p>dancau-sebastian.com</p></a>
</footer>