<div class="navbar-background"></div>
        <div class="navbar">
            <div class="logo-back">
                <img class="navbar-logo" src="../images/logo.png" alt="Gym">
            </div>
            <div class="hamburger-sidemenu"><i class="fas fa-bars"></i></div>
            <ul class="navbar-items">
                <% if(locals.username){ %>
                <li class="account-dropdown">
                    <span><i class="far fa-user-circle"></i> Account</span>
                    <div class="account-items">
                        <a href='/logout'><div>Log out</div></a>
                    </div>
                </li>
                <% } else{ %>
                <a href='/login'><li class="login-button">Login</li></a>
                <a href='/register'><li class="register-button">Register</li></a>
                <% } %>
            </ul>

        </div>