<div class="navbar-background"></div>
        <div class="navbar">
            <div class="logo-back">
                <img class="navbar-logo" src="../images/logo.png" alt="Gym">
            </div>
            <div class="hamburger-sidemenu"><i class="fas fa-bars"></i></div>
            <ul class="navbar-items">
                <li>About</li>
                <li>Contact</li>
                <li class="account-dropdown">
                    <span><i class="far fa-user-circle"></i> Account</span>
                    <div class="account-items">
                        <div>Edit</div>
                        <div>Log out</div>
                    </div>
                </li>
                <li class="login-button">Login</li>
                <li class="register-button">Register</li>
            </ul>

        </div>