<div class="showcase-container">
    <div class="left">
        <div class="showcase-big-text">Work out your way</div>
        <div class="showcase-small-text">Find the best exercises for you<br> and get your health and physics at point.</div>
        <form class="showcase-button" id="subscribe-form">
            <input type="text" placeholder="Get the lastest news">
            <button type="submit">Subscribe</button>    
        </form>
    </div>
    <div class="right">
        <img src="../images/showcase-image.png" alt="fitness">
    </div>
</div>

<div class="showcase-bar">
    <div class="showcase-bar-item">50+ exercises</div><span></span>
    <div class="showcase-bar-item">3 difficulty levels</div>
    <div class="showcase-bar-item">Find an exercise </div>
</div>