body{
    margin:0;
    padding:0;
    font-family: roboto;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
  }

h1{font-size: 25px;}
h2{font-size: 22px;}
h3{font-size: 18px;}

.main-container{
    width:95%;
    max-width: 1200px;
    height:auto;
    margin:0 auto;
}

/* ---------- Navigation Bar ---------- */

.navbar-background{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:60px;
    background-color: #3D5A80;
}

.logo-back{
    position: relative;
    display: inline-block;
    width:70px;
    height:80px;
    transform: translateY(-5px);
    background-color: #98C1D9;
    border-radius: 0  0 20px 20px;
    transition:transform 0.1s ease-in-out;
    cursor: pointer;

}

.navbar{
    position: relative;
    width:100%;
    height:60px;
    color:#E0FBFC;
}

.navbar-logo{
    position: relative;
    display: inline-block;
    width:50px;
    height:auto;
    margin-left:10px;
    margin-top:15px;
    transition:transform 0.1s ease-in-out;
}

.logo-back:hover{
    transform: translateY(0);
}

.navbar-items{
    position: relative;
    display: inline;
    float: right;  
    margin-top:10px; 
}



.navbar-items li{
    display: inline-block;
    font-size:18px; 
    margin-left:20px;
    margin-top:5px;
    cursor: pointer;
}

.account-items{
    position: absolute;
    display: none;
    text-align: center;
    background-color:#3D5A80;
    z-index: 2;
    width: 100px;
}

.account-items div{
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
}

.account-items div:hover{
    background-color:#98C1D9;
}

.account-dropdown:hover .account-items{
    display: block;
}

.login-button, .register-button{
    width:auto;
    height:auto;
    padding:5px 10px;
    border-radius:5px;
    background-color:#98C1D9;
    color:black;
    font-size: 20px;
}

.login-button:hover, .register-button:hover{
    background-color:#afdcf6;
}

.hamburger-sidemenu{
    display: none ;
    position: relative;
    float: right;  
    margin-top:16px;
    margin-right:5px; 
    font-size:25px;
}


@media only screen and (max-width: 660px) {
    .navbar-items{
        display: none;
    }
    .hamburger-sidemenu{
        display: block;
    }
  }

/* ---------- Showcase ---------- */

.showcase-container{
    margin-top:20px;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: [space] 10% [left] 55% [right] 25% [space] 10%;
}

.showcase-container .left{
    grid-column: 2;
    height:100%;
    padding:0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.showcase-container .right{
    height:auto;
}


.showcase-container .right img{
    max-width: 100%;
    max-height: 100%;
}

.showcase-big-text{
    position: relative;
    font-size:60px;
    font-weight: bold;
    color: #293241;
    display: block;
}

.showcase-small-text{
    position: relative;
    font-size:25px;
    display: block;
    margin-top:10px;
}

.showcase-button
{
    margin-top: 20px;
}

.showcase-button input
{
    outline: none;
    height:40px;
    width:50%;
    font-size: 16px; 
    border-radius:5px 0 0 5px;
    border:1px solid gray;
}

.showcase-button button{
    font-size:17px;
    height:44px;
    width:10%;
    min-width:100px;
    outline: none;
    border:none;
    background-color:#DB7878;
    color:white;
    margin-left:-5px;
    cursor: pointer;
    border-radius:0 5px 5px 0;
}

.showcase-button button:hover{
    background-color: #eb6746;
}

.showcase-bar{
    width:100%;
    height:60px;
    background-color:#e9e8e8;
    border-radius:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top:-4px;
}

.showcase-bar-item{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}

.showcase-bar-item:last-child{
    background-color: #3D5A80;
    border-radius:0 30px 30px 0;
    color:white;
    cursor: pointer;
}

.showcase-bar-item:last-child:hover{
    background-color: #4e71a0;
}

.showcase-bar span{
    width:2px;
    background-color:black;
    height:30px;
}

.showcase-bar span:nth-child(4){
    height:60px;
}

@media only screen and (max-width: 800px) {
    .showcase-container{
        grid-template-columns: [space] 2% [left] 96% [right] 0% [space] 2%;
    }

    .showcase-container .left{
        text-align: center;
        margin-bottom:60px;
    }

    .showcase-big-text{
        font-size:50px;
    }
    .showcase-small-text{
        font-size:25px;
    }

    .showcase-bar{
        font-size:14px;
    }
    .showcase-button input{
        width: 50%;
        border-radius: 0;
        text-align: center;
    }
    .showcase-button button{
        width:50%;
        border-radius: 0;
        margin-left:0;
    }
  }

/* ---------- Exercises ---------- */

.exercises-container{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top:10px;
}

.exercises-item{
    position: relative;
    width:300px;
    height:auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:10px;
    margin-left:5px;
    margin-right:5px;
    background-color:#e9e8e8;
    overflow:hidden;
    box-shadow: 5px 5px 13px -1px rgba(209,209,209,1);
    transition: all 0.2s ease-in-out;
    
}

.exercises-item:hover{
    transform: translate(-2px,-2px);
    box-shadow: 7px 7px 13px -1px rgba(209,209,209,1);

}

.exercises-item-image{
    width:100%;
    height:200px;
    background-image:url('../images/exercise-1.jpg');
    background-position: center;
    background-size: cover;
    border-bottom:2px solid #4e71a0;
    display: block;
}

.exercise-save{
    position:absolute;
    right:15px;
    top:15px;
    color: #F0D254;
    font-size:18px;
}

.exercise-title{
    font-size:22px;
    text-align: center;
    margin-top:10px;
    color: #4e71a0;
    font-weight: 700;
}

.exercise-muscle, .exercise-equipment{
    display: flex;
    align-items: center;
    margin-left:15px;
}

.exercise-muscle img, .exercise-equipment img{
    width:40px;
    height:auto;
    opacity: 0.7;
    display: inline-block;
}

.exercise-equipment{
    margin-left:19px;
}

.exercise-equipment img{
    width: 30px;
}

.muscle-text, .equipment-text{
    font-size:16px;
    display: inline-block;
    margin-left:10px;
}

.equipment-text{
    margin-left:17px;
}

.exercise-difficulty{
    position: relative;
    padding:5px;
    width:130px;
    border-radius: 4px;
    margin-left:20px;
    margin-top:5px;
    margin-bottom:20px;
}

.difficulty-bar{
    display: inline-block;
    height:20px;
    width:6px;
    background-color:white;
    opacity: 0.3;
}

.difficulty-bar-1{
    height:6px;
}

.difficulty-bar-2{
    height:12px;
}

.difficulty-bar-active{
    opacity: 1;
}

.difficulty-text{
    position: absolute;
    margin-left:10px;
    margin-top:2px;
    color:white;
}



.exercise-difficulty-hard{
    background-color: #DB7878;
}

.exercise-difficulty-intermediate{
    background-color: #F0D254;
}

.exercise-difficulty-easy{
    background-color: #96BF48;
}

.exercises-view-more{
    width:auto;
    margin:0 auto;
    text-align: center;
    margin-top:20px;
    opacity:0.7;
    cursor: pointer;
    font-size:20px;
}

.exercises-view-more:hover{
    opacity: 1;
}


/* ---------- Testimonials ---------- */

.testimonials{
    position: relative;
    width:100%;
    height:auto;
    padding:30px 0;
    margin-top:50px;
    overflow: visible;
    background-color: #3D5A80;
    text-align: center;
    border-radius: 20px;
}

.testimonials-quotes{
    color:#d1edfd;
    font-size:40px;
    position: absolute;
    top:20px;
    right:20px;
}

.testimonials-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#d1edfd;
    font-size:20px;
}

.testimonials-text{
    width:40%;
    margin:0 auto;
}

.testimonials-author{
    margin:0 auto;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color:white;
}

.testimonials-author img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:10px;
}

@media only screen and (max-width: 600px) {
    .testimonials-quotes
    {
        display: none;
    }
    .testimonials-text{
        width:80%;
    }
  }

/* ---------- Footer ---------- */

footer{
    width:100%;
    height:200px;
    text-align: center;
}

footer a{
    color:black;
    text-decoration: none;
}

footer ul{
    padding:0;
}

footer ul li{
    display: inline-block;
    list-style-type: none;
    font-size:40px;
    margin:10px;
    margin-bottom:0;
    margin-top:50px;
    opacity: 0.7;
}

footer ul li:hover{
    opacity: 1;
}

footer p{
    font-size:14px;
    color:gray;
    margin-top:-10px;
}



