<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not found</title>
    <style>
        body{
            margin:0;
            padding:0;
            font-family: roboto;
            height: 100%;
            width: 100%;
            text-align:center;
        }

        @font-face {
            font-family: roboto;
            src: url(../fonts/Roboto-Regular.ttf);
        }
    </style>
</head>
<body>
    <h1>The page you was looking for was not found! :(</h1>
    <a href="/home">Back to home</a>
</body>
</html>