<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <title>Favorites</title>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/b42cb1ab32.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main-container">
        <%- include('includes/navbar') %>
        <div class="exercises-container">
            <% exercises.forEach(ex => { %>
                <%- include('includes/favorite-exercise-item',{exercise:ex}) %>
            <% }) %>
        </div>
    </div>
</body>
</html>